.git
.github
.idea
.vscode
.env
.env.*
!.env.example
!.env.docker.example
**/node_modules
**/dist
**/coverage
data
repositories
dist/release
**/*.log
*.zip
**/*.tsbuildinfo
**/*.db
**/*.db-shm
**/*.db-wal
